<app-navbar></app-navbar>

<h2 class="px-3">Wishlist</h2>
<div class="row padd">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <div class="product-container totalPrice" *ngFor="let item of cart; let i =index">
            <div class="product-card row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6" style="text-align: center;">
                    <img [src]=item.imageUrl alt="Product 1" style="width: 160px; border-radius: 10px;">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 textcard">
                    <h2>{{item.name}}</h2>
                    <p> {{item.description}}</p>
                    <p>Price: ₹ {{item.price}}</p>
                    <button (click)="remove(item)" class="button"> Remove
                    </button>
                </div>
            </div>
        </div>
        @if(cart.length == 0){
        <div class="totalPrice product-card " style="font-size: x-large; margin-top: 8px; text-align: center;">
            No Wishlist Item
        </div>
        }
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 aligntext" style="margin: auto;">
        <div class="totalPrice" style="border: 1px solid black;">

            <div style="color: black;" class="row">
                <div class="col">
                    Total Amount
                </div>
                <div class="col">
                    ₹{{calculateTotalPrice()}}
                </div>
            </div>
        </div>
        <div style="text-align: center; margin-top: 13px;">
            <button (click)="backtoHome()" class="btn"><i class="animation"></i>Return to Purchase<i class="animation"></i>
            </button>
        </div>
    </div>
</div>